@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  background-color: #ccc5c5;
  font-family: 'Source Serif 4', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1587854692152-cbe660dbde88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80'); /*  url('https://images.unsplash.com/photo-1631549916768-4119b2e5f926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1179&q=80')  no-repeat center center fixed*/
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-blend-mode: soft-light;
  -moz-background-blend-mode: soft-light;
  -o-background-blend-mode: soft-light;
  background-blend-mode: soft-light;
}

.cart {
  position: absolute;
  top: 1.75em;
  right: 2em;
  min-width: 3em;
  min-height: 3em;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.fa-quote-left,
.fa-quote-right {
  margin: 0 0.5em;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 4px 10px;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: #d31334;
}

#items {
  /* display: none; */
  position: absolute;
  top: 5em;
  right: 2em;
  background-color: #f2b38d;
  text-align: left;
  border: 3px solid #9983c9;
}

#icon {
  font-size: 2.5em;
  color: #d2f787;
}

ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 1em;
}

li {
  text-align: left;
  list-style: none;
  background-color: rgba(255, 255, 255, .50);
  padding: 0.25em 1em;
  margin: 0.25em 0em;
  font-weight: bold;
  font-size: 1.5em;
}

nav {
  background: linear-gradient(0deg, rgba(128,198,255,1) 0%, rgba(153,131,201,1) 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.hidden {
  display: none;
}

#search {
  background-color: rgba(250, 250, 250, 0.5);
  display: none;
  padding: 1em;
  margin: 1em 0;
}

.link {
  background-color: #ff9999;
  padding: 0.75em;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  border: 2px solid #FFCBCB;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2f787;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  font-weight: 600;
}

h1 {
  font-size: 5em;
  margin: 0.5em;
}

h3 {
  text-align: center;
  margin: 0;
}

h1.gradient-text {
  font-size: 5em;
  margin: 0.25em;
}

.gradient-text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: transparent;
  background: conic-gradient(
    #b8b4e4 17%, 
    #9983c9 17%, #9983c9 36%, 
    #d2f787 36%, #d2f787 50%, 
    #ff9999 50%, #ff9999 72%, 
    #80c6ff 72%, #80c6ff 83%, 
    #f2b38d 83%);
  background-size: 50%;
  background-clip: text;  
  -webkit-background-clip: text;
  transition: 1.5s;
}

.gradient-text:hover,
h1.gradient-text:hover {
  letter-spacing: 8px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.opaque {
  padding: 0.5em;
  background-color: rgba(250, 250, 250, 0.75);
}

p {
  text-align: justify;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.75);
  width: 300px;
  padding: 1em;
  margin: 0.7em 1em 1.4em;
}

button {
  background-color: #FFCBCB;
  border: none;
  border-radius: 1em;
  color: #2a5294;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  text-transform: uppercase;
  transition: 0.7s;
  box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,.5),
                   4px 4px 15px 0px rgba(0,0,0,.1),
                   2px 2px 3px 0px rgba(0,0,0,.1);
}

button:hover {
  background-color: #B5DEFF;
  color: #d31334;
  box-shadow:  2px 2px 3px 0 rgba(255,255,255,.5),
              -2px -2px 3px 0 rgba(116, 125, 136, .2), 
        inset -2px -2px 3px 0 rgba(255,255,255,.5),
        inset  2px 2px 3px 0 rgba(116, 125, 136, .3);
}

.special {
  background-color: #d2f787;
}

.header {
  background-color: rgba(250, 250, 250, 0.5);
}

.btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding: 1em;
  border-top: 3px solid #2a5294;
  border-bottom: 3px solid #2a5294;
}

.btn-more {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #2a5294;
}

.quote {
  text-align: center;
  background-color: #d2f787;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  font-weight: 600;
}
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 600px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
  outline: none;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
  border: 1px solid #2a5294;
}

.slideshowDot.active {
  background-color: #2a5294;
}

/* Contact Us */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #fafafa;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #fafafa;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #fafafa;
}

input::placeholder, textarea::placeholder {
  text-align: center;
  color: #2a5294;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #fafafa;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #fafafa;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #fafafa;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #e2dedb;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #e2dedb;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #e2dedb;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
  color: #e2dedb;
}

#form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 90%;
  padding: 1em 0.5em;
  margin: 2em auto;
  background: linear-gradient(0deg, #ff9999 0%, #d2f787 100%);
  /* border: 10px outset #2a5294; */
}

label {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  height: 50px;
  padding-top: 1em;
  background: transparent;
  outline: none;
  color: #2a5294;
  border: none;
}

input {
  font-family: 'Source Serif 4', sans-serif;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  width: 70%;
  height: 50px;
  background: transparent;
  outline: none;
  color: #2a5294;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: #9983c9;
  color: #e2dedb;
}

textarea {
  text-align: center;
  width: 70%;
  max-width: 70%;
  height: 110px;
  max-height: 110px;
  background: transparent;
  outline: none;
  padding-top: 0.75em;
  color: #2a5294;
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background-color: #9983c9;
  color: #e2dedb;
}

#submit {
  width: 60%;
  padding: 0px;
  margin-top: 0.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: #000000;
  outline:none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

#submit:hover {
  background-color: #d2f787;
  font-weight: bold;
  letter-spacing: 5px;
  /* color: #e2dedb; */
}

@media all and (max-width: 500px) {
  html {
    font-size: 12px;
  }

  img {
    width: 120px;
    height: auto;
  }

  nav {
    justify-content: flex-start;
  }

  .gradient-text {
    background-size: 100%;
  }

  .slide {
    width: 90%;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 161px;
  }

  textarea {
    width: 100%;
  }

  form {
    width: 450px;
  }
}
